<div class="container-fluid">
	<div class="row">
        <div  class="col-md-4">
            <div class="panel panel-default">
                        <a href="#/dataElements">
                        <div class="panel-body" >
                            <h4 class="stages"><center>Data Elements<center></h4>
                            <br>
                            <center>
                                <button class="btn btn-default btn-sm"> View </button>
                            </center>
                        </div>
                        </a>
                    </div>
        </div>
            
            <div  class="col-md-4">
            <div class="panel panel-default">
                        <a href="#/dataSets">
                        <div class="panel-body" >
                            <h4 class="stages"><center>Data Sets<center></h4>
                            <br>
                            <center>
                                <button class="btn btn-default btn-sm"> View </button>
                            </center>
                        </div>
                        </a>
                    </div>
        </div>
            <div  class="col-md-4">
            <div class="panel panel-default">
                        <a href="#/indicators">
                        <div class="panel-body" >
                            <h4 class="stages"><center>Indicators<center></h4>
                            <br>
                            <center>
                                <button class="btn btn-default btn-sm"> View </button>
                            </center>
                        </div>
                        </a>
                    </div>
        </div>
	</div>
	<div class="row">
		
                          <div  class="col-md-4">
            <div class="panel panel-default">
                        <a href="#/programs">
                        <div class="panel-body" >
                            <h4 class="stages"><center>Programs<center></h4>
                            <br>
                            <center>
                                <button class="btn btn-default btn-sm"> View </button>
                            </center>
                        </div>
                        </a>
                    </div>
        </div>
            
            <div  class="col-md-4">
            <div class="panel panel-default">
                        <a href="#/organisationUnits">
                        <div class="panel-body" >
                            <h4 class="stages"><center>Organisation Units<center></h4>
                            <br>
                            <center>
                                <button class="btn btn-default btn-sm"> View </button>
                            </center>
                        </div>
                        </a>
                    </div>
        </div>
            <div  class="col-md-4">
            <div class="panel panel-default">
                        <a href="#/users">
                        <div class="panel-body" >
                            <h4 class="stages"><center>Users<center></h4>
                            <br>
                            <center>
                                <button class="btn btn-default btn-sm"> View </button>
                            </center>
                        </div>
                        </a>
                    </div>
        </div>
			
		
	</div>

</div>
